<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

<div class="container">
<div class="row">
  <div class="col-sm-12">
     <h1> Dashboard</h1>
  </div>
</div>
<div class="row">
<div class="table-responsive">
  <table class="table">
      <tr >
        <td *ngFor="let val of matrice; let i = index">
            <table>
                <tr>
                    <td style="
                    border-bottom: 1px solid;

                "><h3 >server {{i+1}}</h3></td>
                </tr>
                <tr>
                      <td >
                        <h5 *ngIf="matrice[i]==1">
                            status ok
                        </h5>
                        <h5 *ngIf="matrice[i]==0">
                            status ko
                        </h5>
                      </td>

                      <td>
                          <img src="/assets/verde.png" *ngIf='val==1' class="imgSemaforo">
                           <img src="/assets/rossoa.png" *ngIf='val==0' class="imgSemaforo">
                       </td>
                </tr>
                <tr>
                    <td style="
                    border-top: 1px solid;
                    padding: 5px;
                ">



                </td>
                </tr>
            </table>
        </td>


      </tr>
      <tr>
        <td>
          <ui-switch  [checked]="matrice[0]==0?false:true" color="blue"  (change)="onChange($event,1)"></ui-switch>
        </td>
          <td>
            <ui-switch   [checked]="matrice[1]==0?false:true" color="blue"  (change)="onChange($event, 2)"></ui-switch>
          </td>
          <td>
            <ui-switch   [checked]="matrice[2]==0?false:true" color="blue"  (change)="onChange($event,3 )"></ui-switch>
          </td>
      </tr>
  </table>



</div>
</div>
</div>
<!--<form #form="ngForm" (ngSubmit)="upload(form)" >

  FILE <input type="file" class="form-control" id="fileup"
  required
   name="fileup" (change)="fileEvent($event)">
 <button  type="submit" >upload</button>

</form>-->
