/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css";

.imgSemaforo {
  width: 19%;
}
.switch{
  border-color:black!important;
  background: #ccc!important;
}
